  <%= render 'search' %>


<div class="d-flex float-left flex-column justify-content-lg-start" style="background: rgba(210,194,179,0.83);border-radius: 10px;color: rgb(27,26,26);margin: 20px;padding: 20px;border: 1px solid rgb(27,26,26) ;">

  <% @books.each do |book| %>
    <li> <%= link_to "#{book.title} - #{book.author}", book_path(book), :class => 'link'  %> </li>
  <% end %>

</div>