    <div class="footer-basic" style="background-color: rgba(204,80,65,0.76);color: rgb(0,0,0);padding: 15px0px;border-top: 1px solid rgb(27,26,26) ;">
        <footer>
            <ul class="list-inline" style="color: rgb(255,255,255);">
                <li class="list-inline-item"><a href="http://arynnboniface.com">arynnboniface.com</a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/arynn-boniface/">LinkedIn</a></li>
                <li class="list-inline-item"><a href="https://github.com/ronniekram">Github</a></li>
            </ul>
            <p class="copyright" style="color: rgb(255,255,255);height: 20px;font-size: 16px;">Arynn Boniface © 2020</p>
        </footer>
    </div>